.pageNotFound {
    height: 700px;
    padding-top: 200px;
    .contentWrapper {
        text-align: center;
        color: #173d77;
        display: flex;
        flex-direction: column;
        .bigText {
            font-size: 150px;
            font-weight: 700;
        }
        .smallText {
            font-size: 44px;
        }
    }
}