 .footerBox{
  position: relative;
  min-height: 180px;
  height: max-content;
  width: 100%;
  background-color:#07142b;
  .footer{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    bottom: 0;
    text-align: center;
    padding-top: 5px;
    left: 0;
    .para{
      color: rgba(249,249,249,0.6);
    }
    .check{
      margin-right: 20px;
      vertical-align: middle;
    }
    .icons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 20px;
      font-size: 24px;
    }
  }
  .footerBase{
    display: flex;
    justify-content: center;
  }
} 
